/******** FONTS (Poppins) *******/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap");
/******** FONTS (Poppins) *******/

/******** Globel Rules *******/
:root {
  --mainColor: #29285b;
  --secondColor: #652682;
  --hoverColor: ;
  --white: #fff;
}
::selection {
  background-color: var(--mainColor);
  color: var(--white);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1067px;
    width: 100%;
  }
}
.no-p,
.no-m {
  padding: 0;
  margin: 0;
}

/******** Globel Rules *******/


/******** header Style *******/
.siteHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 99;
  background: url("../img/headerShadow.png") center no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.siteHeader.sticky{
  background: var(--mainColor);
  padding-top: 10px;
  transform: translateY(-110px) !important;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.topHeader .container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.siteHeader .leftTop.logo {
  display: flex;
  align-items: center;
}
.siteHeader .rightTop ,
.siteFooter .rightTop {
  display: flex;
  align-items: center;
  gap: 10px;
} 
.rightTop .topLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
  color: var(--white);
}
.siteHeader .bottomHeader {
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
}
.siteHeader .siteMenu {
  display: flex;
  align-content: center;
  justify-content: center;
}
.siteHeader .siteMenu li {
  display: flex;
  align-items: center;
  position: relative;
}

.siteHeader .siteMenu a{
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
  padding: 25px 26px;
  width: 100%;
  text-align: center;
}
.siteHeader .siteMenu a:hover,
.siteHeader .siteMenu a.active,
.siteHeader .siteMenu li .supMenu a{
  background-color: var(--secondColor);
}
.siteHeader .siteMenu li .supMenu{
  position: absolute;
  left: 0;
  top: 140%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.siteHeader .siteMenu li:hover .supMenu{
  top: 100%;
  opacity: 1;
  visibility: visible;
}


/******** header Style *******/

/******** Hero Style *******/
.mainContent{
  min-height: 400px;
}
.heroSection {
  position: relative;
  margin-bottom: 60px;
}
.heroSection::before{
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("../img/slider/slideShadow.png") center no-repeat;
  background-size: 101% 101%;
  z-index: 9;
}
.heroSection .heroSlider{
  height: 737px;
  overflow: hidden;
}
.heroSection .heroSlider img{
  height: 737px;
  object-fit: fill;
}
.heroSection .heroSlider .slick-track {
  transition: 0s;
}
.heroSection .slick-arrow{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 9;
  font-size: 0;
  width: 40px;
  height: 40px;
  background: url("../img/slider/arrow-left.png") center no-repeat;
  background-size: auto;
  border: none;
}
.heroSection .slick-next.slick-arrow{
  left: auto;
  right: 10%;
  background-image: url("../img/slider/arrow-right.png");
}

.heroSection .pageTitle {
  position: absolute;
  width: 48%;
  bottom: -115px;
  right: 0;
  height: 300px;
  z-index: 9;
  background-color: var(--secondColor);
  color: var(--white);
  padding: 40px 165px 40px 45px;
}
.heroSection .social{
  position: absolute;
bottom: 30px;
display: flex;
gap: 15px;
left: 14%;
color: var(--white);
z-index: 9;
}

.heroSection .pageTitle h1{
  font-size: 50px;
  letter-spacing: 3px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}
.heroSection .breadCrumb{
  display: flex;
  align-items: center;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  gap: 10px;
}
.heroSection .breadCrumb a{
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
}
.heroSection .breadCrumb a:hover{
  color: #29285b;
}
.heroSection .pageTitle .dateAndLocation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroSection .pageTitle .date {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
}
/******** Hero Style *******/

/******** sponser Style *******/
.heading h2 {
  font-size: 41px;
  color: #29285b;
  font-weight: 700;
  max-width: 355px;
}


.sponserSlider  .slick-slide li{
  height: 150px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.sponserSlider  .slick-slide li img{
  max-width: 160px;
}
.sponser{
  margin-bottom: 80px;
}
.sponser .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.sponser .slick-dots button{
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #9c9c9c;
  font-size: 0;
}
.sponser .slick-dots li button:hover,
.sponser .slick-dots li.slick-active button{
  background-color: #652682;
}
.slick-track{
  transition: 0s;
}
/******** sponser Style *******/

/******** banner Style *******/
.banner{
  position: relative;
  padding: 80px 0 40px 0;
  background: url("../img/banner/1.png") center no-repeat;
  background-size: cover;
}
.banner::before{
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("../img/banner/bannerShadow.png") center no-repeat;
  background-size: cover;
}
.banner .counterList {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  
}
.banner .counterList .counterArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 41px;
  color: #ffffff;
  font-weight: 700;
  min-width: 175px;
}
.banner .counterList .counterArea h3{
  font-size: 27px;
  color: #ffffff;
  font-weight: 600;
}

/******** banner Style *******/

/******** footer Style *******/
.siteFooter{
  padding: 100px 0 45px 0;
  background-color: var(--mainColor);
  color: var(--white);
}

.siteFooter .leftTop.logo img {
  max-width: 200px;
  margin-bottom: 30px;
}
.siteFooter .rightTop .topLinks{
  min-width: 105px;
}
.siteFooter .footerMenu {
  display: flex;
  justify-content: space-between;
}

.siteFooter .footerList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  border-left: 1px solid #79799a;
}
.siteFooter .footerList a ,
.siteFooter .inquiries h2,
.siteFooter .inquiries a{
  font-size: 14px;
  color: var(--white);
  font-weight: 600;
}
.siteFooter .footerList a:hover,
.siteFooter .inquiries a:hover{
  color: var(--secondColor);
}

.siteFooter .inquiries{
  padding-left: 20px;
  border-left: 1px solid #79799a;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.siteFooter .footerRegister{
  display: block;
  width: 94%;
  background-color: var(--secondColor);
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
  padding: 20px 15px;
  text-align: center;
  margin-left: auto;
  margin-right: 10px;
}
.siteFooter .topFooter {
  margin-bottom: 60px;
}
.siteFooter .bottomFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 13px;
  color: var(--white);
  font-weight: 500;
}
.siteFooter .bottomFooter .social{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.siteFooter .bottomFooter .social a:hover{
  color: var(--secondColor);
}

/******** footer Style *******/

/******** speakers Style *******/
.speakers .heading h2{
  font-size: 30px;
}
.speakers .speakerList{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 60px;
}

@media (max-width:900px) {
  .speakers .speakerList{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:600px) {
  .speakers .speakerList{
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.speakers .speakerList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.speakers .speakerList li .image{
  position: relative;
  height: 295px;
  overflow: hidden;
}
.speakers .speakerList li .image img{
  height: 295px;
  object-fit: cover;
}
.speakers .speakerList li .image .speakerLink{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 22px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  background: url("../img/speakers/speakerShadow.png") center no-repeat;
  background-size: cover;
}
.speakers .speakerList li:hover .image .speakerLink{
  opacity: 1;
  visibility: visible;
}
.speakers .speakerList li .text{
  display: flex;
flex-direction: column;
text-align: center;
}
.speakers .speakerList li .text h2{
  font-size: 18px;
  line-height: 22px;
  color: var(--mainColor);
  margin-bottom: 0;
  font-weight: 700;
}
.speakers .speakerList li .text h6{
  font-size: 14px;
  line-height: 22px;
  color: #29285b;
  font-weight: 500;
  margin-bottom: 0;
}
.speakers .speakerList li .text h5{
  color: var(--secondColor);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
/******** speakers Style *******/

/******** register Style *******/
.register {
  margin-top: 100px;
  margin-bottom: 80px;
  display: inline-block;
  width: 100%;
}
.register .registerForm{
  background-color: #29285b;
  padding: 80px 170px;
}
.register .registerForm h2{
  font-size: 13px;
  line-height: 44px;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 0;
}
.register .registerForm .form-control{
  width: 100%;
  height: 50px;
  filter: drop-shadow(0 0 2px rgba(100,100,100,0.06));
  background-color: #ffffff;
  padding: 30px 15px 15px 15px;
  font-size: 12px;
  color: #a2a2a2;
  font-weight: 500;
  border-radius: 0;
}
.register .registerForm textarea.form-control{
  height: auto;
}
.register .registerForm .submit{
  display: block;
  width: 100%;
  background-color: var(--secondColor);
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  height: 50px;
  display: grid;
  place-items: center;
  border: 1px solid transparent;
}
.register .registerForm .submit:hover{
  background-color: var(--white);
  border-color: var(--secondColor);
  color: var(--secondColor);
}
/******** register Style *******/

/******** login Style *******/
#loginPopUp .modal-dialog{
  margin-top: 130px;
}

.siteHeader .siteMenu li .supMenu a:hover{
  color: #fff;
  cursor: pointer;
}
#loginPopUp .modal-content{
  background: url("../img/login.png") center no-repeat;
  background-size: cover;
  box-shadow: none;
  width: 407px;
  height: 411px;
  border-radius: 22px;
  position: relative;
  margin: auto;
  padding: 35px;
}
#loginPopUp .modal-content .close{
  width:36px;
  height: 36px;
  background: url("../img/close.png") center no-repeat;
  background-size: auto;
  position: absolute;
  top: -18px;
  right: 20px;
  z-index: 2;
  opacity: 1;
}
#loginPopUp .modal-body h2{
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}
#loginPopUp .form-control{
  width: 100%;
  height: 51px;
  border-radius: 25px;
  background-color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  color: #909090;
  font-weight: 500;
  padding: 20px 26px;
  margin-bottom: 20px;
}
#loginPopUp .forPassword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  padding: 0 10px;
  margin-bottom: 20px;
}
#loginPopUp .forPassword a{
  font-size: 10px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
}
#loginPopUp .submit{
  width: 100%;
  height: 51px;
  border-radius: 25px;
  background-image: linear-gradient(88deg, #7d369e 0%, #aa3097 100%);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 20px;
  border: none;
}
#loginPopUp .forPassword label{
  margin-bottom: 0;
  cursor: pointer;
}

#loginPopUp form{
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
#loginPopUp form::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 64px;
  height: 1px;
  background-color: var(--white);
}
#loginPopUp .goRegister,#loginPopUp .goRegister a{
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
#loginPopUp .goRegister a{
  color: #ad6acc;
  text-decoration: underline;
}
#loginPopUp .goRegister a:hover{
  color: var(--secondColor);
}

/******** login Style *******/

/******** Contact Us Style *******/
.contactUs {
  margin-top: 130px;
  margin-bottom: 80px;
  display: inline-block;
  width: 100%;
}
.contactUs .contactItem{
  width: 95%;
  background-color: #f4f4f4;
  padding: 45px 25px;
}
@media (max-width:600) {
  .contactUs .contactItem{
    width: 100%;
  }
}
.contactUs .contactItem .text{
  min-height: 100px;
}
.contactUs .contactItem h2{
  font-size: 22px;
  line-height: 44px;
  color: var(--mainColor);
  font-weight: 700;
  margin-bottom: 0;
}
.contactUs .contactItem h3{
  font-size: 16px;
  line-height: 23px;
  color: var(--secondColor);
  font-weight: 700;
}
.contactUs .contactItem .email a {
  font-size: 15px;
  line-height: 44px;
  text-decoration: underline;
  color: #3569ec;
  font-weight: 600;
}
.contactUs .contactItem .email a:hover{
  color: var(--mainColor);
}
.contactUs .socialMedia {
  padding: 60px;
  width: 100%;
  background-color: var(--secondColor);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 234px;
}
.contactUs .socialMedia .registerNow {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--secondColor);
  font-weight: 600;
  padding: 20px 26px;
  width: max-content;
  text-align: center;
  background: #fff;
}

.contactUs .socialMedia .registerNow:hover{
  background-color: var(--mainColor);
  color: var(--white);
}
.contactUs .socialMedia h2{
  font-size: 22px;
  color: var(--white);
  font-weight: 700;
}
.contactUs .socialMedia .social{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.contactUs .socialMedia .social a{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 1px solid #fff;
}
.contactUs .socialMedia .social a:hover{
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

.generalInfo h2 {
  font-size: 22px;
  line-height: 44px;
  color: var(--mainColor);
  font-weight: 700;
}
.generalInfo .conatctNumber {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 30px;
  color: #652682;
  font-weight: 700;
}
.generalInfo .mailTo {
  font-size: 20px;
  text-decoration: underline;
  color: #3569ec;
  font-weight: 700;
}
/******** Contact Us Style *******/

/******** reseveYourSpace Style *******/
.reseveYourSpace .heading h2{
  font-size: 35px;
  margin-bottom: 20px;
}
.heading p{
  font-size: 16px;
  line-height: 24px;
  color: #29285b;
  font-weight: 500;
  max-width: 55%;
}

.reseveYourSpace .getInTouch {
  padding: 60px;
  background-color: #f9f4fe;
}
.reseveYourSpace .getInTouch h2{
  font-size: 21px;
  line-height: 23px;
  color: #29285b;
  font-weight: 600;
  margin-bottom: 40px;
}
.reseveYourSpace .getInTouch .form-control{
  width: 100%;
  height: 50px;
  filter: drop-shadow(0 0 2px rgba(100,100,100,0.06));
  background-color: #ffffff;
  font-size: 12px;
  color: #c2c1c1;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 0;
}
.reseveYourSpace .getInTouch .submit{
  width: 100%;
  height: 50px;
  display: grid;
  place-items: center;
  background-color: var(--secondColor);
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
}
.reseveYourSpace .getInTouch .submit:hover{
  background-color: var(--mainColor);
}
/******** reseveYourSpace Style *******/

/******** visit Style *******/
.visit .heading h2{
  margin-bottom: 20px;
  font-size: 40px;
}
.visit .heading p{
  max-width: 68%;
  font-size: 14px;

}
.visitSection,.siteLayout{
  padding: 60px 0;
}
.visitSection.hotel,.siteLayout{
  background-color: #f9f4fe;
}


.visitSection .visitTextContainer{
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.visitSection.hotel .visitTextContainer{
  background-color: var(--white);
}

.visitSection .visitTextContainer .visitText h2{
  font-size: 29px;
  color: var(--mainColor);
  font-weight: 600;
  margin-bottom: 20px;
}
.visitSection .visitTextContainer .visitText h3{
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 21px;
  color: var(--secondColor);
  font-weight: 600;
}
.visitSection .visitTextContainer .visitText p{
  font-size: 14px;
  line-height: 25px;
  color: var(--mainColor);
  font-weight: 500;
}

.siteLayout h2 {
  font-size: 29px;
  color: var(--mainColor);
  font-weight: 600;
  margin-bottom: 30px;
}

.siteLayout p{
  font-size: 14px;
  line-height: 1.6;
  color: var(--mainColor);
  font-weight: 500;
}
/******** visit Style *******/

.comingSoon{
  font-size: 40px;
  color: var(--mainColor);
}


.burger {
  display: none;
}

/******** responsive menu Style *******/
@media (max-width:900px) {
  .siteMenu  li:nth-of-type(7), 
  .siteMenu  li:nth-of-type(6), 
  .siteMenu  li:nth-of-type(5), 
  .siteMenu  li:nth-of-type(4), 
  .siteMenu  li:nth-of-type(3), 
  .siteMenu  li:nth-of-type(2), 
  .siteMenu  li:nth-of-type(1) {
    opacity: 0;
    transition: 0.3s ease-in all;
  }
  
  .siteMenu  li:nth-of-type(7).nav-link-open, 
  .siteMenu  li:nth-of-type(6).nav-link-open, 
  .siteMenu  li:nth-of-type(5).nav-link-open, 
  .siteMenu  li:nth-of-type(4).nav-link-open, 
  .siteMenu  li:nth-of-type(3).nav-link-open, 
  .siteMenu  li:nth-of-type(2).nav-link-open, 
  .siteMenu  li:nth-of-type(1).nav-link-open {
    opacity: 1;
    transform: translateY(10px);
  }
  
  .siteMenu  li a::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 0%;
    background-color: var(--secondColor);
    left: 0;
    border-radius: 2px;
    transition: 0.3s ease all;
  }
  
  
  
  .burger {
    display: block;
    position: absolute;
    top: 30px;
    right: 25px;
    color: var(--white);
    cursor: pointer;
    z-index: 1;
    display: flex;
  }
  .burger i:nth-of-type(1) {
    display: block;
  }
  .burger i:nth-of-type(2) {
    display: none;
  }
  .burger.burger-open {
    color: #2a3255;
  }
  .burger.burger-open i:nth-of-type(1) {
    display: none;
  }
  .burger.burger-open i:nth-of-type(2) {
    display: block;
    color: var(--secondColor);
    opacity: 1;
  }
  
  .siteMenu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--mainColor);
    clip-path: circle(0px at 0 0px);
    transition: 0.5s ease all;
    flex-direction: column;
    height: 100vh;
    align-items: center !important;
    justify-content: flex-start !important;
  }

  .siteMenu  li {
    list-style-type: none;
  }
  .siteMenu  li:nth-of-type(1).nav-link-open {
    transition-delay: 0.25s;
  }
  .siteMenu  li:nth-of-type(2).nav-link-open {
    transition-delay: 0.35s;
  }
  .siteMenu  li:nth-of-type(3).nav-link-open {
    transition-delay: 0.45s;
  }
  .siteMenu  li:nth-of-type(4).nav-link-open {
    transition-delay: 0.55s;
  }
  .siteMenu  li:nth-of-type(5).nav-link-open {
    transition-delay: 0.65s;
  }
  .siteMenu  li:nth-of-type(6).nav-link-open {
    transition-delay: 0.75s;
  }
  .siteMenu  li:nth-of-type(7).nav-link-open {
    transition-delay: 0.85s;
  }
  .siteMenu  li a {
    text-decoration: none;
    color: var(--white);
    font-size: 2.4rem;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .siteMenu  li a::before {
    top: -2px;
  }
  .siteMenu  li a::after {
    bottom: -5px;
  }
  .siteMenu  li a:hover::before {
    width: 100%;
  }
  .siteMenu  li a:hover::after {
    width: 100%;
  }
  .siteMenu.nav-open {
    display: flex;
    clip-path: circle(100%);
  }

  body{
    overflow-x: hidden;
  }
  .topHeader .container{
    flex-direction: column;
    gap: 20px;
  }

  .siteHeader{
    position: relative;
    width: 100%;
    background-color: var(--mainColor);
  }
  .siteHeader.sticky{
    top: 0;
    transform: translate(0) !important;
  }
  .siteHeader .leftTop.logo img {
    max-width: 225px;
  }

  .heroSection .heroSlider img{
    height: 400px;
  }
  .heroSection .heroSlider{
    height: auto;
  }
  .heroSection .pageTitle {
    position: relative;
    inset: 0;
    width: 100%;
    height: auto;
    padding: 20px 35px 35px 35px;
  }
  .heroSection .pageTitle h1 {
    font-size: 25px;
    margin-bottom: 5px;
    letter-spacing: 0;
  }
  .heroSection .social {
    bottom: 2px;
    left: 10%;
  }
  .siteHeader .bottomHeader{
    border-bottom: none;
  }
  .heading h2 {
    font-size: 20px !important;
    width: 100%;
    max-width: 100%;
  }
  .heading p{
    max-width: 100% !important;
  }
  .visitSection, .siteLayout{
    padding: 30px 10px;
  }
  .visitSection .visitTextContainer{
    padding: 20px;
  }
  .siteFooter{
    padding: 20px 0;
  }
  .siteFooter .bottomFooter .social{
    margin-bottom: 15px;
  }
  .heroSection .pageTitle .dateAndLocation{
    flex-direction: column;
    align-items: baseline;
  }
  .banner{
    padding: 30px 0;
  }
  .banner .counterList{
    flex-direction: column;
    gap: 30px;
  }
  .siteFooter .footerMenu{
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .siteFooter .footerRegister {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .sponserSlider .slick-slide li img{
    max-width: 100%;
  }
  .siteFooter .leftTop.logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .siteFooter .rightTop{
    justify-content: center;
  }
  .siteFooter .leftTop.logo img {
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .heroSection .pageTitle .date{
    font-size: 14px;
  }
  .reseveYourSpace .getInTouch{
    padding: 30px 10px;
  }
  .siteHeader .siteMenu a:hover{
    background-color: transparent;
  }
  .contactUs {
    margin-top: 0px;
  }
  .contactUs .contactItem{
    width: 100%;
  }
  .contactUs .socialMedia{
    padding: 60px 10px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .generalInfo h2{
    font-size: 20px;
    line-height: 1.6;
  }
  .register {
    margin: 0;
    margin-bottom: 30px;
  }
  .register .registerForm{
    padding: 30px 15px;
  }
  #loginPopUp .modal-content{
    padding: 20px;
  }
  #loginPopUp .forPassword a{
    font-size: 12px;
  }
  #loginPopUp .forPassword{
    font-size: 12px;
  }
  .siteHeader .siteMenu li .supMenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  #loginPopUp .modal-content{
    width: 100%;
  }
}
/******** responsive menu Style *******/
